<div class="anonymous-join">
    <h2>Join conference</h2>
    <div class="signinframe">
        <div class="input-group">
            <span id="nameDescription" class="input-group-addon">Participant's Name:</span>
            <input id="name" class="form-control" placeholder="Anonymous User" aria-describedby="nameDescription" />
        </div>
        <div class="input-group">
            <span id="meetingUriDescription" class="input-group-addon">Conference URI:</span>
            <input id="meetingUri" class="form-control" placeholder="sip:alexd@mod357285.onmicrosoft.com;gruu;opaque=app:conf:focus:id:DSD7F9ZJ" value="sip:alexd@mod357285.onmicrosoft.com;gruu;opaque=app:conf:focus:id:DSD7F9ZJ" aria-describedby="meetingUriDescription" />
        </div>
        <input id="signin" class="btn btn-default" type="button" value="Join conference" />
        <br />
        <input id="startChatMeeting" class="btn btn-default" value="Start chat" />
        <input id="startAudioMeeting" class="btn btn-default" value="Start audio" />
        <input id="startVideoMeeting" class="btn btn-default" value="Start video" />
        <br />
        <input id="end" class="btn btn-default" value="Leave conference" />
        <br />
    </div>
    <div class="conversation">
        <div class="header">
            <h3>Conference Video</h3>
        </div>
        <div id="renderTable" class="av-container">
            <div id="renderWindow" class="render-window"></div>
        </div>
    </div>
    <div class="conversation">
        <div class="header">
            <h3>Self Camera</h3>
        </div>
        <div id="previewTable" class="av-container">
            <div id="previewWindow" class="render-window"></div>
        </div>
    </div>
</div>

@section scripts {
    <environment names="Development">
        <script src="~/js/skype-anonymous-join.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/js/skype-anonymous-join.min.js" asp-append-version="true"></script>
    </environment>
}

